.list {
  /*layout*/
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  /*dimension*/
  margin-left: 1px;
  padding-bottom: 9px;
  /*style*/
  list-style: none;
}
.listItem {
  /**/
}
.button {
  /*layout*/
  border: 1px solid #fffefb;
  display: flex;
  gap: 5px;
  /*dimension*/
  padding: 5px 10px;
  margin: 5px;
  /*style*/
  border-radius: 20px;
  background-color: #032330;
}

.button:hover {
  /*style*/
  background-color: #075887;
}
