.body {
  /*layout*/
  display: flex;
  flex-direction: column;
  /*dimension*/
  margin: 35px 10px 0 10px;
  gap: 10px;
}

.cover {
  /*layout*/
  display: flex;
  /*dimension*/
  margin-top: 20px;
  margin-left: 10px;
}

.summary {
  /*dimension*/
  padding: 5px 10px;
  /*style*/
  background-color: #03314b;
  border-radius: 10px;
  border: #032330 solid 3px;
}
