.body {
  /*layout*/
  display: flex;
  flex-direction: column;
  /*dimension*/
  margin-top: 290px;
  padding: 100px 10px 10px 10px;
  gap: 10px;
  background-color: #03314b;
  border-radius: 50px;
  position: relative;
}

.cover {
  /*layout*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*dimension*/
  width: calc(100vw - 40px);
  margin-top: 20px;
  margin-left: 10px;
  position: absolute;
  top: -250px;
}

.summary {
  /*dimension*/
  padding: 5px 10px;
  /*style*/
  background-color: #03314b;
  border-radius: 10px;
  border: #032330 solid 3px;
}

.button {
  background: none;
  border: white solid 2px;
  padding: 10px;
}

.container {
  display: flex;
  width: calc(100vw - 20px);
  padding: 5px;
  justify-content: center;
  gap: 10px;
}
