.container {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0 10px;
  gap: 10px;
}

.cover {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.summary {
  background-color: #03314b;
  border-radius: 10px;
  border: #032330 solid 3px;
  color: #fffefb;
  /*  display: flex;
  justify-content: center;
  align-items: center; */

  padding: 5px 10px;
}
