.header {
  /*layout*/
  display: flex;
  justify-content: center;
  /*dimension*/
  padding: 10px;
  /*style*/
  background-color: #03314b;
}

.headerhome {
  /*layout*/
  display: flex;
  justify-content: center;
  /*dimension*/
  padding: 20px;
  /*style*/
  background-color: #03314b;
  font-size: 50px;
}
