.header {
  /*layout*/
  position: relative;
  /*dimension*/
  width: 100%;
  height: 36px;
  /*style*/
  background-color: #03314b;
}

.position {
  /*layout*/
  position: absolute;
  left: 9px;
  top: 11px;
}
