.label {
  /*layout*/
  display: block;
  border-radius: 20px;
}
.form {
}

.input1 {
  /*layout*/
  display: block;
  text-align: center;
  /*dimension*/
  width: calc(100vw - 10px);
  margin: 10px 5px 0px 5px;
  padding: 7px;
  /*style*/
  background-color: #03314b;
  border: none;
  border-bottom: solid 1px #fffefb;
  outline: none;
}

.inputfile {
  display: none;
}

.fileButton {
  width: 100%;
}

.submitButton {
  /*layout*/
  display: block;
  text-align: center;
  /*dimension*/
  width: calc(100vw - 10px);
  margin: 30px 5px 0px 5px;
  padding: 7px;
  /*style*/
  background-color: #03314b;
  border: none;
  border: solid 1px #fffefb;
  outline: none;
}
.submitButton:hover {
  /*layout*/
  display: block;
  text-align: center;
  /*dimension*/
  width: calc(100vw - 10px);
  margin: 30px 5px 0px 5px;
  padding: 7px;
  /*style*/
  background-color: black;
  border: none;
  border: solid 1px #fffefb;
  outline: none;
}
