.container {
  display: flex;
  margin: 15px;
  justify-content: space-between;
  gap: 10px;
  position: fixed;
  bottom: 100px;
}
.containerbody {
  box-sizing: content-box;
  width: 100%;
  position: fixed;
  z-index: -1;
}
