.container {
  width: auto;
  margin: 50px 30px 70px 30px;
  background-color: #03314b;
  border-radius: 10px;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffefb;
  text-align: center;
  padding: 20px;
}
