/* input field for searching */
.searchInputField {
  /* width dynamisch in abhängigkeit (abzüglich des margin) setzen */
  width: calc(100vw - 20px);
  height: 37px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background: none;
  outline: none;
  background-color: #03314b;
}

.searchField_passiv {
  /* width dynamisch in abhängigkeit (abzüglich des margin) setzen */
  width: calc(100vw - 20px);
  height: 42px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #03314b;
  display: flex;
  align-items: center;
}

.searchField_active {
  /* display: flex;
  background-color: #03314b;
  position: fixed;
  height: 42px;
  top: 0; */
  width: 100vw;
  height: 52px;
  margin-bottom: 10px;

  border: none;
  background-color: #03314b;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;

  padding-left: 5px;
  gap: 10px;
  border-bottom: 1px solid white;
}

.resultField_passiv {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: calc(100vw - 37px);
  background-color: #03314b;
  animation: slide-up 0.5s ease-in-out forwards;
}

.resultField_active {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: calc(100vh - 37px);
  background-color: #03314b;
  animation: slide-down 0.6s ease-in-out forwards;
  z-index: 1;
}

@keyframes slide-up {
  0% {
    top: calc(52px);
  }
  100% {
    top: -100%;
  }
}

@keyframes slide-down {
  0% {
    top: -100%;
  }
  100% {
    top: calc(52px);
  }
}

@keyframes animation {
  0% {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  100% {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0;
  }
}

.row {
  display: flex;
  flex-direction: row;
  margin: 20px 10px 0 10px;
}
.column {
  display: flex;
  flex-direction: column;
  white-space: nowrap; /* Verhindert das Umbruch von Text */
  overflow: hidden; /* Blendet den überschüssigen Text aus */
  text-overflow: ellipsis; /* Setzt "..." am Ende des abgeschnittenen Textes ein */
  margin-left: 8px;
}
