.navigation {
  /*layout*/
  display: flex;
  justify-content: space-between;
  /*dimension*/
  padding: 15px 10px 15px 10px;
  /*style*/
  background-color: #03314b;
  border-top: #032330 1px solid;
  border-bottom: #032330 1px solid;
}
/*layout*/
/*dimension*/
/*style*/
.imgcon {
  border-radius: 10px;
  overflow-y: hidden;
  border: #032330 1px solid;
}
.left {
  margin-left: 8px;
  font-size: small;
  position: absolute;
  top: 5px;
  left: 20px;
}

.center {
  font-size: small;
  text-align: center;
  position: absolute;
  top: 5px;
  left: 20px;
}

.right {
  font-size: small;
  margin-right: 8px;
  text-align: right;
  position: absolute;
  top: 5px;
  left: 12px;
}

.container {
  position: relative;
}
