.label {
  /*layout*/
  display: block;
  border-radius: 20px;
}

.input1 {
  /*layout*/
  display: block;
  /*dimension*/
  width: calc(100vw - 20px);
  margin: 10px 5px 0px 5px;
  padding: 7px;
  /*style*/
  background-color: #03314b;
  border: none;
  border-bottom: solid 1px #fffefb;
  outline: none;
}

.input2 {
  /*layout*/
  display: block;
  /*dimension*/
  width: calc(100vw - 20px);
  height: 300px;
  margin: 0px 5px;
  padding: 7px;
  /*style*/
  background-color: #03314b;
  border: none;
  outline: none;
  resize: none;
}

.input3 {
  /*layout*/
  display: block;
  /*dimension*/
  width: calc(100vw - 20px);
  margin: 0px 5px 2px 5px;
  padding: 7px;
  /*style*/
  background-color: #03314b;
  border: none;
  border-top: solid 1px #fffefb;
  outline: none;
}

.submitbutton {
  /*layout*/
  display: flex;
  justify-content: center;
  /*dimension*/
  padding: 5px 5px 2px 5px;
  /*style*/
  background-color: hsl(202, 90%, 24%);
  border-radius: 10px;
}

.submitbuttoncontainer {
  /*layout*/
  display: flex;
  justify-content: center;
  /*dimension*/
  width: 100%;
  margin-top: 50px;
}
