.container {
  /*layout*/
  width: calc(100vw - 10px);
  margin: 5px;
  padding: 10px;

  /*style*/
  background-color: #03314b;
}

.searchField_active {
  /*layout*/
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  /*dimension*/
  width: 100vw;
  height: 52px;
  margin-bottom: 10px;
  padding-left: 5px;
  gap: 10px;
  /*style*/
  border: none;
  background-color: #03314b;
  border-bottom: 1px solid #fffefb;
}

.searchField_passiv {
  /*layout*/
  display: flex;
  align-items: center;
  position: fixed;
  top: -100%;
  z-index: 10;
  /*dimension*/
  width: 100vw;
  height: 52px;
  margin-bottom: 10px;
  padding-left: 5px;
  gap: 10px;
  /*style*/
  border: none;
  background-color: #03314b;
  border-bottom: 1px solid #fffefb;
}

.searchInputField {
  /*dimension*/
  width: calc(100vw - 20px);
  height: 37px;
  margin: 5px;
  /*style*/
  border: none;
  border-radius: 5px;
  background: none;
  outline: none; /*entfernt die visuelle fokusierung im input searchfield*/
  background-color: #03314b;
  /* width dynamisch in abhängigkeit (abzüglich des margin) setzen */
}

.resultField_initial {
  /*layout*/
  position: fixed;
  top: -100%;
  left: 0;
  /*dimension*/
  width: 100%;
  height: calc(100vh - 37px);
  /*style*/
  background-color: #03314b;
}

.resultField_active {
  /*layout*/
  position: fixed;
  top: -100%;
  left: 0;
  /*dimension*/
  width: 100%;
  height: calc(100vh - 37px);
  /*style*/
  background-color: #03314b;
  animation: slide-down 0.6s ease-in-out forwards;
  z-index: 1;
}

.resultField_passive {
  /*layout*/
  position: fixed;
  top: -100%;
  left: 0;
  /*dimension*/
  width: 100%;
  height: calc(100vh - 37px);
  /*style*/
  background-color: #03314b;
  animation: slide-up 0.5s ease-in-out forwards;
}

@keyframes slide-up {
  0% {
    top: calc(52px);
  }
  100% {
    top: -100%;
  }
}

@keyframes slide-down {
  0% {
    top: -100%;
  }
  100% {
    top: calc(52px);
  }
}

@keyframes animation {
  0% {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  100% {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0;
  }
}

.list {
  /*layout*/
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  /*dimension*/
  height: calc(100vh - 57px);
}
.row {
  /*layout*/
  display: flex;
  flex-direction: row;
  /*dimension*/
  margin: 20px 10px 0 10px;
}
.column {
  /*layout*/
  display: flex;
  flex-direction: column;
  white-space: nowrap; /* Verhindert das Umbruch von Text */
  overflow: hidden; /* Blendet den überschüssigen Text aus */
  text-overflow: ellipsis; /* Setzt "..." am Ende des abgeschnittenen Textes ein */
  /*dimension*/
  margin-left: 8px;
}
.button {
  /*layout*/
  border: 1px solid #fffefb;
  /*dimension*/
  padding: 5px 10px;
  margin: 5px;
  /*style*/
  border-radius: 20px;
}

.container {
  text-align: left;
  margin: 0;
  padding: 0;
}
