.container {
  width: auto;
  margin: 10px 10px 0 10px;
  background-color: #03314b;
  border-radius: 10px;
  border: #032330 solid 3px;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffefb;
  text-align: center;
  padding: 20px;
}
