.container {
  /*layout*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*dimension*/
  width: auto;
  height: 30vh;
  margin: 10px 10px 0 10px;
  padding: 20px;
  /*style*/
  background-color: #03314b;
  border-radius: 10px;
  border: #032330 solid 3px;
}
