.container {
  /*layout*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*dimension*/
  width: auto;
  height: 30vh;
  margin: 10px 0px 0px 0px;
  padding: 25px;
  /*style*/
  background-color: #03314b;
  border-top: #032330 solid 2px;
  border-bottom: #032330 solid 2px;
}
